<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品分类</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/child.css">
</head>
<body>
	<header id="header"></header>
	<div class="content">
		<div class="categroy-cnt" id="categroy-cnt"></div>
	</div>
	<div id="footer"></div>
</body>
<script type="text/html" id="category-one">
	<ul class="categroy-list">
		<% for(var i = 0;i<class_list.length;i++){ 
			var locUrl = "";
			if(class_list[i].text.length >0) {
				locUrl = WapSiteUrl+"/tmpl/product_second_categroy.html?gc_id="+class_list[i].gc_id;
			}else {
				locUrl = WapSiteUrl+"/tmpl/product_list.html?gc_id="+class_list[i].gc_id;
			}
		%>
			<li class="category-item">
				<a href="<%=locUrl%>"class="category-item-a">
					<div class="ci-fcategory-name"><%=class_list[i].gc_name %></div>
					<div class="ci-fcategory-text"><%=class_list[i].text %></div>
					<span class="grayrightarrow"></span>
				</a>
			</li>
		<% } %>
	</ul>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/tmpl/common-top.js"></script>
<script type="text/javascript" src="../js/tmpl/categroy-frist-list.js"></script>
<script type="text/javascript" src="../js/tmpl/footer.js"></script>
</html>